{
  "sources": [
    {
      "id": "npr",
      "name": "NPR Newscast",
      "url": "http://pd.npr.org/anon.npr-mp3/npr/news/newscast.mp3",
      "homepage": "https://www.npr.org/podcasts/500005/npr-news-now"
    },
    {
      "id": "bbc_world",
      "name": "BBC World Service News (5min bulletin)",
      "kind": "podcast_latest",
      "feed_url": "https://podcast.voice.api.bbci.co.uk/rss/audio/p002vsmz?api_key=Wbek5zSqxz0Hk1blo5IBqbd9SCWIfNbT",
      "homepage": "https://www.bbc.co.uk/programmes/p002vsmz"
    },
    {
      "id": "dw_brief",
      "name": "DW News Brief",
      "kind": "podcast_latest",
      "feed_url": "https://rss.dw.com/syndication/feeds/podcast_en_newsbrief.33191-mrss.xml",
      "homepage": "https://www.dw.com/en/dw-news/program-262267"
    },
    {
      "id": "cnn",
      "name": "CNN (live)",
      "url": "https://tunein.cdnstream1.com/2868_96.mp3",
      "homepage": "https://www.cnn.com/audio"
    },
    {
      "id": "fox_news_radio",
      "name": "Fox News Radio (live)",
      "url": "https://live.amperwave.net/direct/foxnewsradio-foxnewsradioaac-imc?source=fnr.web",
      "homepage": "https://www.foxnewsradio.com/"
    },
    {
      "id": "msnbc",
      "name": "MSNBC (live)",
      "url": "https://tunein.cdnstream1.com/3511_96.mp3",
      "homepage": "https://www.msnbc.com/"
    },
    {
      "id": "nbc_news_radio",
      "name": "NBC News Radio (live)",
      "url": "http://stream.revma.ihrhls.com/zc6043",
      "homepage": "https://nbcnewsradio.com/"
    },
    {
      "id": "bloomberg_radio",
      "name": "Bloomberg Radio (live)",
      "url": "http://26433.live.streamtheworld.com/WBBRAMAAC_SC",
      "homepage": "https://www.bloomberg.com/audio"
    },
    {
      "id": "deutschlandfunk",
      "name": "Deutschlandfunk (live)",
      "url": "https://st01.sslstream.dlf.de/dlf/01/128/mp3/stream.mp3?aggregator=web",
      "homepage": "https://www.deutschlandfunk.de/"
    },
    {
      "id": "rfi_monde",
      "name": "RFI Monde (live)",
      "url": "http://live02.rfi.fr/rfimonde-64.mp3",
      "homepage": "https://www.rfi.fr/"
    },
    {
      "id": "npo_radio1",
      "name": "NPO Radio 1 (live)",
      "url": "http://icecast.omroep.nl/radio1-bb-mp3",
      "homepage": "https://www.nporadio1.nl/"
    }
  ]
}
